In [1]:
import pandas as pd

In [2]:
fb_train = pd.read_csv("../data/facebook/Training/Features_Variant_1.csv", header = 0)
fb_train.head()

,634995,0,463,1,0.0,806.0,11.291044776119403,1.0,70.49513846124168,0.0.1,...,0.11,0.12,0.13,0.14,0.15,0.16,0.17,0.18,1.2,0.19
0,634995,0,463,1,0.0,806.0,11.291045,1.0,70.495138,0.0,...,0,0,0,0,0,0,0,1,0,0
1,634995,0,463,1,0.0,806.0,11.291045,1.0,70.495138,0.0,...,1,0,0,0,0,0,0,0,1,0
2,634995,0,463,1,0.0,806.0,11.291045,1.0,70.495138,0.0,...,1,0,0,1,0,0,0,0,0,0
3,634995,0,463,1,0.0,806.0,11.291045,1.0,70.495138,0.0,...,0,0,0,0,0,1,0,0,0,0
4,634995,0,463,1,0.0,806.0,11.291045,1.0,70.495138,0.0,...,0,0,0,0,0,0,0,1,0,0

In [7]:
fb_train.columns = ["Page Popularity/likes",
                   "Page Checkins",
                   "Page talking about",
                   "Page Category",
                   "Derived5",
                   "Derived6",
                   "Derived7",
                   "Derived8",
                   "Derived9",
                   "Derived10",
                   "Derived11",
                   "Derived12",
                   "Derived13",
                   "Derived14",
                   "Derived15",
                   "Derived16",
                   "Derived17",
                   "Derived18",
                   "Derived19",
                   "Derived20",
                   "Derived21",
                   "Derived22",
                   "Derived23",
                   "Derived24",
                   "Derived25",
                   "Derived26",
                   "Derived27",
                   "Derived28",
                   "Derived29",
                   "CC1",
                   "CC2",
                   "CC3",
                   "CC4",
                   "CC5",
                   "Base time",
                   "Post length",
                   "Post Share Count",
                   "Post Promotion Status",
                   "H Local",
                   "Sunday post",
                   "Monday post",
                   "Tuesday post",
                   "Wednesday post",
                   "Thursday post",
                   "Friday post",
                   "Saturday post",
                   "Sunday date",
                   "Monday date",
                   "Tuesday date",
                   "Wednesday date",
                   "Thursday date",
                   "Friday date",
                   "Saturday date",
                   "target"]

In [8]:
fb_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40948 entries, 0 to 40947
Data columns (total 54 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Page Popularity/likes  40948 non-null  int64
 1   Page Checkins          40948 non-null  int64
 2   Page talking about     40948 non-null  int64
 3   Page Category          40948 non-null  int64
 4   Derived5               40948 non-null  float64
 5   Derived6               40948 non-null  float64
 6   Derived7               40948 non-null  float64
 7   Derived8               40948 non-null  float64
 8   Derived9               40948 non-null  float64
 9   Derived10              40948 non-null  float64
 10  Derived11              40948 non-null  float64
 11  Derived12              40948 non-null  float64
 12  Derived13              40948 non-null  float64
 13  Derived14              40948 non-null  float64
 14  Derived15              40948 non-null  float64
 15  Derived16              40948 non-null  float64
 16  Derived17              40948 non-null  float64
 17  Derived18              40948 non-null  float64
 18  Derived19              40948 non-null  float64
 19  Derived20              40948 non-null  float64
 20  Derived21              40948 non-null  float64
 21  Derived22              40948 non-null  float64
 22  Derived23              40948 non-null  float64
 23  Derived24              40948 non-null  float64
 24  Derived25              40948 non-null  float64
 25  Derived26              40948 non-null  float64
 26  Derived27              40948 non-null  float64
 27  Derived28              40948 non-null  float64
 28  Derived29              40948 non-null  float64
 29  CC1                    40948 non-null  int64
 30  CC2                    40948 non-null  int64
 31  CC3                    40948 non-null  int64
 32  CC4                    40948 non-null  int64
 33  CC5                    40948 non-null  int64
 34  Base time              40948 non-null  int64
 35  Post length            40948 non-null  int64
 36  Post Share Count       40948 non-null  int64
 37  Post Promotion Status  40948 non-null  int64
 38  H Local                40948 non-null  int64
 39  Sunday post            40948 non-null  int64
 40  Monday post            40948 non-null  int64
 41  Tuesday post           40948 non-null  int64
 42  Wednesday post         40948 non-null  int64
 43  Thursday post          40948 non-null  int64
 44  Friday post            40948 non-null  int64
 45  Saturday post          40948 non-null  int64
 46  Sunday date            40948 non-null  int64
 47  Monday date            40948 non-null  int64
 48  Tuesday date           40948 non-null  int64
 49  Wednesday date         40948 non-null  int64
 50  Thursday date          40948 non-null  int64
 51  Friday date            40948 non-null  int64
 52  Saturday date          40948 non-null  int64
 53  target                 40948 non-null  int64
dtypes: float64(25), int64(29)
memory usage: 16.9 MB

In [9]:
X = fb_train.drop("target", axis = 1)
y = fb_train["target"]

In [10]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X = scaler.fit_transform(X)

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.15)

In [14]:
from tensorflow.python.keras.models import Sequential
from tensorflow.python.keras.layers import Dense

model = Sequential()
model.add(Dense(64, "relu", input_shape = (X_train.shape[1],)))
model.add(Dense(32, "relu"))
model.add(Dense(32, "relu"))
model.add(Dense(16, "relu"))
model.add(Dense(1))

model.compile("adam", "mean_squared_error", metrics = ["mean_squared_error"])

model.fit(X_train, y_train, validation_data =(X_test, y_test), epochs = 5, batch_size = 32)

Epoch 1/5
1088/1088 [==============================] - 1s 1ms/step - loss: 852.6049 - mean_squared_error: 852.6049 - val_loss: 1077.6775 - val_mean_squared_error: 1077.6775
Epoch 2/5
1088/1088 [==============================] - 1s 993us/step - loss: 730.5168 - mean_squared_error: 730.5168 - val_loss: 1275.6180 - val_mean_squared_error: 1275.6180
Epoch 3/5
1088/1088 [==============================] - 1s 1ms/step - loss: 739.2035 - mean_squared_error: 739.2035 - val_loss: 1226.7036 - val_mean_squared_error: 1226.7036
Epoch 4/5
1088/1088 [==============================] - 1s 948us/step - loss: 637.6046 - mean_squared_error: 637.6046 - val_loss: 1389.8126 - val_mean_squared_error: 1389.8126
Epoch 5/5
1088/1088 [==============================] - 1s 865us/step - loss: 607.9746 - mean_squared_error: 607.9746 - val_loss: 1184.6893 - val_mean_squared_error: 1184.6893